<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="logo1" sizes="400x400" href="/img/logo1.png">
	<link rel="icon" type="image/png" sizes="400x400" href="/img/logo1.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Make An Appointment</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/material-kit.css" rel="stylesheet"/>

</head>

<body class="profile-page">
	<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    	<div class="container">
            <img src="/img/logo1.png" alt="logo" id="logo1" />
            
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="http://www.creative-tim.com"><b>Help Olims </b></a>
        	</div>
            

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
                     <li> 
                    <div class="col-md-3 dropdown">
                       
	   <a href="#" class="btn btn-simple dropdown-toggle " data-toggle="dropdown">
	   <img src="/img/flags/US.png"/> language <b class="caret"></b> </a>
	   <ul class="dropdown-menu">
           <li><a href="#"><img src="/img/flags/IL.png"/> Hebrow</a></li>
	       <li><a href="#"><img src="/img/flags/DE.png"/> Deutsch</a></li>
	       <li><a href="#"><img src="/img/flags/GB.png"/> English(UK)</a></li>
	       <li><a href="#"><img src="/img/flags/FR.png"/> Français</a></li>
	       <li><a href="#"><img src="/img/flags/RO.png"/> Română</a></li>
	       <li><a href="#"><img src="/img/flags/IT.png"/> Italiano</a></li>
           

	       <li class="divider"></li>
	       <li><a href="#"><img src="/img/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
	       <li><a href="#"><img src="/img/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
</ul>
                            
</div>
</li>
                    <li>
						<a href="#" target="_blank">
                            <div class="circleImage">
	                        <img src="/img/christian.jpg" alt="Circle Image" class="img-circle img-responsive">
	                        </div> 
							Hello Christian
						</a>
    				</li>
    				<li>
						<a href="#" target="_blank">
							<i class="fa fa-search"> </i> search
						</a>
    				</li>
		            <li>
		               <a href="#" target="_blank">
							<i class="material-icons">account_circle</i> profile
						</a>
		            </li>
		            <li>
		                <a href="#" target="_blank">
							<i class="material-icons">home</i>
						</a>
		            </li>
					 <li>
		                <a href="#" target="_blank">
							<i class="material-icons">settings</i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>

    <div class="wrapper">
		<div class="header header-filter" style="background-image: url('/img/examples/city.jpg');"></div>

		<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                           
	                        </div>
	                        <div class="name">
	                            <h1 class="title">Make An Appointment</h1>
								
	                        </div>
	                    </div>
	                </div>
	                <div class="description text-center">
                        <p> <h5>Here you can send a request in order to meet with a volunteer. </h5> <br>The volunteer can help you cope with the difficulties of absorption in Israel.<br>
                        All you have to do is to fill in the reason for the meeting, date, time and place where you want to make the meeting.<br>
                        Your request will be sent to all the volunteers and when the first volunteer will accept your request, you will be notified in the confirmation of the meeting.<br>
                        If the meeting has been approved and you can not get there you must inform the volunteer and to delete the request from the list of request on your profile page.</p>
	                </div>

					<div class="row">	
				      <form class="contact-form">
	                            <div class="row">
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label"> <i class="material-icons">local_cafe</i> The cause for the meeting</label> <br><br>
                                            
                                            <div class="input-group">
										<span class="input-group-addon">
										</span>
										<select name="country" class="form-control" placeholder="country">
                                            <option>
                                            Get help with school registration
                                            </option>
                                            <option> Get help with translation</option>
                                            <option> Advice and guidance with</option>
                                            <option>Social meeting</option>
                                            <option> Other</option>
                                        </select>
									</div>  
										</div>
	                                </div> 
                               </div>
                               <div class="row">
	                                <div class="col-md-6">
										<div class="form-group label-floating"> 
											<label class="control-label"> 
											<i class="material-icons"> today</i>Meeting place</label><br><br>
											
                                            
                                            <div class="input-group">
										<input class="datepicker form-control" type="text" value="03/12/2016"/>
									        </div>
										</div>
	                                </div>
	                            </div>
                          <div class="row">
                                 <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label"> <i class="material-icons">query_builder</i> Meeting time</label> <br><br>
                                            
                                            <div class="input-group">
										<span class="input-group-addon">
										</span>
										<select name="country" class="form-control" placeholder="country">
                                            <option> 06:00-08:00</option>
                                            <option> 08:00-10:00</option>
                                            <option> 10:00-12:00</option>
                                            <option> 12:00-14:00</option>
                                            <option> 14:00-16:00</option>
                                            <option> 16:00-18:00</option>
                                            <option> 18:00-20:00</option>
                                            <option> 20:00-22:00</option>
                                            <option> 22:00-00:00</option>   
                                        </select>
									</div>  
										</div>
	                                </div> 
                               </div>
                               <div class="row">
                                 <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label"> <i class="material-icons">place</i> The place for the meeting</label> <br><br>
                                            
                                            <div class="input-group">
										<span class="input-group-addon">
										</span>
										<select name="country" class="form-control" placeholder="country">
                                           
                                            <option> Ashdod</option>
                                            <option> Ashkelon</option>
                                            <option> Bat Yam</option>
                                            <option> Beer Sheva</option>
                                            <option> Bnei Brak</option>
                                            <option> Eilat</option>
                                            <option> Givatayim</option>
                                            <option> Hadera</option>
                                            <option> Herzliya</option>
                                            <option> Holon</option>
                                            <option> Jerusalem</option>
                                            <option> Kfar Saba</option>
                                            <option> Lod</option>
                                            <option> Modi'in</option>
                                            <option> Nahariya</option>
                                            <option> Netanya</option>
                                            <option> Petah Tikva</option>
                                            <option> Ra'anana</option>
                                            <option> Ramat Gan</option>
                                            <option> Ramla</option>
                                            <option> Rehovot</option>
                                            <option> Rishon Lezion</option>
                                            <option> Tel Aviv</option>
                                            
                                        </select>
									</div>  
										</div>
	                                </div> 
                               </div>
                               <div class="row">
                                   <div class="col-md-6">
								<div class="form-group label-floating">
									<label class="control-label">Your Messge</label>
									<textarea class="form-control" rows="4"></textarea>
								</div>
                                   </div>
                          </div>

	                            <div class="row">
	                                <div class="col-md-4 col-md-offset-4 text-center">
	                                    <button class="btn btn-primary btn-raised" id="myBtn">
											Send Request
										</button>
                                        <div id="myModal" class="modal">
                                          <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <p>Your request has been sent successfully!</p>
                                          </div>
                                        </div>   
	                                </div>
	                            </div>
	                        </form>   
        </div>
    </div>	
 </div>
</div>

<footer class="footer">
        <div class="container">
            <nav class="pull-left">
				<ul>
					<li>
						<a href="http://presentation.creative-tim.com">
						   About Us
						</a>
					</li>
					<li>
						<a href="http://blog.creative-tim.com">
						   Contact Us
						</a>
					</li>
				</ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016, made with <i class="fa fa-heart heart"></i> by Rotem & Kelly
            </div>
        </div>
</footer>


</body>
	<!--   Core JS Files   -->
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/js/material-kit.js" type="text/javascript"></script>
    
    <!--   Core JS Files   -->
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/js/material-kit.js" type="text/javascript"></script>
    
    <!-- javascript -->
<script> 

$('.datepicker').datepicker({
	weekStart:1});
</script>
    
<script> 
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</html>
